body {
    font-family: Arial, sans-serif;
    background-color: #ecd3ee;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #e6126a;
    margin-bottom: 40px; /* Bottom margin for h1 */
    border-bottom: 2px dotted #cc990d; /* Bottom border for h1 */
}

h2 {
    color: #4632a1;
    margin-bottom: 30px; /* Bottom margin for h2 */
    border-bottom: 2px dotted #37b910; /* Bottom border for h2 */
}

img {
    width: 250px;
    height: auto;
    border-radius: 70%;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px; /* Bottom margin for p */
    width: 90%;
    max-width: 600px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.1em;
    color: #97202a;
    margin: 10px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #13cbd8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #be591e;
}

footer {
    background-color: #d7e586;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
