body {
    font-family: Arial, sans-serif;
    background-color: #f3d3f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #e6126a;
    margin-bottom: 40px; /* Bottom margin for h1 */
    border-bottom: 2px dotted #cc990d; /* Bottom border for h1 */
}

img {
    width: 150px;
    height: auto;
    border-radius: 70%;
    margin-top: 20px;
}

h2 {
    color: #4632a1;
    margin-bottom: 30px; /* Bottom margin for h2 */
    border-bottom: 2px dotted #37b910; /* Bottom border for h2 */
}

p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px; /* Bottom margin for p */
    width: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    font-size: 16px;
    color: #97202a;
    margin: 10px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #13cbd8;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #be591e;
}

footer {
    background-color: #e9b407;
    padding: 100px;
    margin-top: 80px;
    font-size: 14px;
    color:#4632a1;
    text-align:center;
}
