/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3e6f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Heading styles */
h1 {
    color: #e6126a;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #cc990d;
}

h2 {
    color: #4632a1;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px dotted #37b910;
}

img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    font-size: 1.1em;
    color: #97202a;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #13cbd8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #be591e;
}

footer {
    background-color: #c76312;
    color: white;
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
}